<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <div>
              <span style="float:right;  text-align: justify;"
                >Total de registros: <b>{{ pageData.totalRows }}</b></span
              >
              <h5>Personal ADG</h5>
            </div>
          </div>

          <button
            type="button"
            class="btn btn-primary"
            *ngIf="!FiltrosActivados"
            (click)="monstrarFiltros()"
          >
            Mostrar Filtros
          </button>
          <!---------------------------->

          <div class="card" *ngIf="FiltrosActivados">
            <div class="content">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Puesto:</label>
                    <select
                      class="form-control"
                      [(ngModel)]="seleccionar_puestos"
                    >
                      <option
                        [value]="puesto.id"
                        *ngFor="let puesto of puestos"
                        >{{ puesto.nombre }}</option
                      >
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Área laboral</label>
                    <select
                      class="form-control"
                      [(ngModel)]="seleccionar_arealaboral"
                    >
                      <option
                        [value]="arealabora.id"
                        *ngFor="let arealabora of arealaboral"
                        >{{ arealabora.nombre }}</option
                      >
                    </select>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Municipio laboral:</label>
                    <select
                      class="form-control"
                      [(ngModel)]="seleccionar_municipiolaboral"
                    >
                      <option
                        [value]="municipiolabora.id"
                        *ngFor="let municipiolabora of municipiolaboral"
                        >{{ municipiolabora.nombre }}</option
                      >
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Clave centro trabajo:</label>
                    <input type="text" class="form-control" />
                  </div>
                </div>
              </div>

              <div class="row">
               
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Nombre del centro de trabajo:</label>
                      <input type="text" class="form-control" />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Nombre completo de personal ADG:</label>
                      <input type="text" class="form-control" />
                    </div>
                  </div>
                </div>

              <div class="row">
               
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>RFC:</label>
                      <input type="text" class="form-control" />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>CURP:</label>
                      <input type="text" class="form-control" />
                    </div>
                  </div>
                </div>


              <div class="row">
               
                  <div class="col-md-6">
                    <div class="form-group">
                               <label>Sexo:</label>
                    <select
                      class="form-control"
                      
                    >
                      <option
                        value="M"
                        >MUJER</option
                      >
                      <option
                        value="H"
                        >HOMBRE</option
                      >
                    </select>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>CURP </label>
                      <input type="text" class="form-control" />
                    </div>
                  </div>
                </div>

              <button class="btn btn-info btn-fill pull-right">
                Update Profile
              </button>
            </div>
          </div>

          <!---------------------------->
          <button
            type="button"
            class="btn btn-primary"
            *ngIf="FiltrosActivados"
            (click)="monstrarFiltros()"
          >
            Ocultar filtros
          </button>

          <button
            type="button"
            class="btn btn-warning"
            *ngIf="!FiltrosActivados"
            (click)="DescargarReporteGeneral()"
          >
            Descargar reporte general
          </button>

          <!--  <button type="button" class="btn btn-success">Filtrar</button> -->

          <div class="content table-responsive table-full-width">
            <mat-progress-bar
              mode="buffer"
              *ngIf="layoutDeCarga"
            ></mat-progress-bar>
            <table
              style="margin-top: 10px"
              mat-table
              [dataSource]="dataSource"
              multiTemplateDataRows
              class="mat-elevation-z8"
            >
              <ng-container matColumnDef="NombreCompletoPersonal">
                <th mat-header-cell *matHeaderCellDef>
                  Nombre completo
                </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.NombreCompletoPersonal }}
                </td>
              </ng-container>

              <ng-container matColumnDef="curp">
                <th mat-header-cell *matHeaderCellDef>CURP</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.curp }}
                </td>
              </ng-container>

              <ng-container matColumnDef="rfc">
                <th mat-header-cell *matHeaderCellDef>RFC</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.rfc }}
                </td>
              </ng-container>

              <ng-container matColumnDef="CCT">
                <th mat-header-cell *matHeaderCellDef>CCT</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.CCT }}
                </td>
              </ng-container>

              <ng-container matColumnDef="NombrePuesto">
                <th mat-header-cell *matHeaderCellDef>Puesto</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.NombrePuesto }}
                </td>
              </ng-container>

              <ng-container matColumnDef="Acciones">
                <th mat-header-cell *matHeaderCellDef>Acciones</th>
                <td mat-cell *matCellDef="let element"></td>
              </ng-container>

              <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
              <ng-container matColumnDef="expandedDetail">
                <td
                  mat-cell
                  *matCellDef="let element"
                  [attr.colspan]="columnsToDisplay.length"
                >
                  <div
                    class="example-element-detail"
                    [@detailExpand]="
                      element == expandedElement ? 'expanded' : 'collapsed'
                    "
                  >
                    <table
                      style="width: 100%; margin-top: 10px; margin-bottom: 10px"
                    >
                      <tr>
                        <td style="width: 50%">
                          <div>
                            Nombre área laboral:
                            <b>{{ element.NombreArealaboral }}</b>
                          </div>
                          <div>
                            Nombre CCT:
                            <b>
                              {{ element.NombreCCT }}
                            </b>
                          </div>
                          <div>
                            Nombre municipio laboral:
                            <b>
                              {{ element.NombreMunicipio }}
                            </b>
                          </div>
                          <div>
                            Alergia:
                            <b>
                              {{ element.alergia }}
                            </b>
                          </div>
                          <div>
                            Celular:
                            <b>
                              {{ element.celular }}
                            </b>
                          </div>
                          <div>
                            Correo:
                            <b>
                              {{ element.correo }}
                            </b>
                          </div>
                          <div>
                            Edad:
                            <b>
                              {{ element.edad }}
                            </b>
                          </div>
                          <div>
                            Estado civil:
                            <b>
                              {{ element.estado_civil }}
                            </b>
                          </div>
                          <div>
                            Fecha de nacimiento:
                            <b>
                              {{ element.fecha_de_nacimiento }}
                            </b>
                          </div>
                        </td>
                        <td style="width: 50%; vertical-align:text-top;">
                          <div>
                            Localidad de nacimiento:
                            <b>{{ element.localidad_de_nacimiento }}</b>
                          </div>
                          <div>
                            Municipio de nacimiento:
                            <b>
                              {{ element.municipio_de_nacimiento }}
                            </b>
                          </div>
                          <div>
                            Nacionalidad:
                            <b>
                              {{ element.nacionalidad }}
                            </b>
                          </div>
                          <div>
                            Número de seguro social:
                            <b>
                              {{ element.numero_de_segurp_social }}
                            </b>
                          </div>
                          <div>
                            Pareja:
                            <b>
                              {{ element.pareja }}
                            </b>
                          </div>
                          <div>
                            Sexo:
                            <b>
                              {{ element.sexo }}
                            </b>
                          </div>
                          <div>
                            Teléfono de casa:
                            <b>
                              {{ element.telefono_casa }}
                            </b>
                          </div>
                          <div>
                            Tipo de sangre:
                            <b>
                              {{ element.tipo_de_sangre }}
                            </b>
                          </div>
                        </td>
                      </tr>
                    </table>

                    <!---Aqui va el contenido adicional-->
                  </div>
                </td>
              </ng-container>

              <tr
                mat-header-row
                *matHeaderRowDef="columnsToDisplay; sticky: true"
              ></tr>
              <tr
                mat-row
                *matRowDef="let element; columns: columnsToDisplay"
                class="example-element-row"
                [class.example-expanded-row]="expandedElement === element"
                (click)="
                  expandedElement = expandedElement === element ? null : element
                "
              ></tr>
              <tr
                mat-row
                *matRowDef="let row; columns: ['expandedDetail']"
                class="example-detail-row"
              ></tr>
            </table>

            <mat-progress-bar
              mode="buffer"
              *ngIf="layoutDeCarga"
            ></mat-progress-bar>
            <div align="center">
              <ngb-pagination
                [collectionSize]="pageData.totalPage * 10"
                [(page)]="pageData.page"
                [maxSize]="5"
                [rotate]="true"
                [ellipses]="false"
                [boundaryLinks]="true"
                (pageChange)="paginacion()"
              ></ngb-pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
